<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Student detail</h1>
    <p> name: {{student.name}}</p>
    <p> age: {{student.age}}</p>
    <p> uni: {{student.uni}}</p>
    <a href="/students/delete/{{student.pk}}/">Delete</a>
    <a href="/students/edit/{{student.pk}}/">edit</a>
    <a href="/students/">List로 돌아가기</a>
</body>
</html>